* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transition: 0.4s;
    font-family: "Poppins", sans-serif;
  }

  body,
  html {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: rgb(246, 222, 8);
  }
  
  h1{
    text-align: center;
    background-color: yellow;
    box-shadow: 0px 5px 10px 1px rgb(255, 255, 0);
  }
  
  h1::first-letter{
    color: rgb(255, 213, 0);
    font-size: larger;
  }
  
  .container {
    border-color: red;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .pokemon {
    width: 18%;
    padding: 10px;
    border: 0px solid;
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    background-color: rgb(255, 191, 0);
    box-shadow: 0px 0px 6px 1px gray;
  }

  .pokemon:hover {
    cursor: pointer;
    scale: 1.02;
  }

  @media only screen and (max-width: 900px) {
    .pokemon {
      width: 30%;
    }
  }

  @media only screen and (max-width: 525px) {
    .pokemon {
      width: 48%;
    }
  }

  .img {
    text-align: center;
  }

  .norm {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }

  .shiny {
    width: 10px;
    height: 10px;
    background: linear-gradient(
      200deg,
      rgb(255, 0, 255),
      rgb(0, 255, 234),
      orange
    );
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }