* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transition: 0.4s;
    font-family: "Poppins", sans-serif;
    color: white;
  }

  body,
  html {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: rgb(10, 10, 10);
  }
  
  h1{
    text-align: center;
    background-color: transparent;
    box-shadow: 0px 5px 10px 1px rgb(24, 24, 24);
  }
  
  h1::first-letter{
    color: rgb(153, 0, 255);
    font-size: larger;
  }
  
  .container {
    border-color: red;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .pokemon {
    width: 18%;
    padding: 10px;
    border: 2px solid;
    margin-top: 20px;
    background-color: black;
    box-shadow: 0px 0px 5px 1px rgb(187, 0, 255);
    /* border-image: linear-gradient(45deg,rgb(0, 255, 81),rgb(0, 157, 255)) 10; */
    border-image: linear-gradient(45deg,rgb(255, 0, 204),rgb(0, 157, 255)) 10;
  }

  .pokemon:hover {
    cursor: pointer;
    scale: 1.02;
    box-shadow: 5px 5px 0px 1px rgb(187, 0, 255);
  }

  @media only screen and (max-width: 900px) {
    .pokemon {
      width: 30%;
    }
  }

  @media only screen and (max-width: 525px) {
    .pokemon {
      width: 48%;
    }
  }

  .img {
    text-align: center;
  }

  .norm {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }

  .shiny {
    width: 10px;
    height: 10px;
    background: linear-gradient(
      200deg,
      rgb(255, 0, 255),
      rgb(0, 255, 234),
      orange
    );
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }